Import relevant libraries

In [50]:
import pandas as pd
import re

Open excel file

In [51]:
df = pd.read_excel('./estate_new.xlsx')

df.head()

,property-text href,el-image__inner src,tag2,tag,title-lg,title-sm,adress,tag 2,box 2,hidden-xs-only 2,...,hidden-xs-only 6,facility-icon src,facility-tag,tag 3,tag1,img-loading,tag 4,prefix 3,facility-icon src 2,facility-tag 2
0,https://hk.centanet.com/findproperty/en/detail...,https://hkvrdata.centanet.com/CNHK-27261_8147f...,Key,Pet friendly,MAYFAIR BY THE SEA,Low Floor・FLAT B・4 Rooms・(2 Suites),Pak Shek Kok,Pet friendly,"1,217 ft²","1,217ft²",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://hk.centanet.com/findproperty/en/detail...,https://hkvrdata.centanet.com/CNHK-41785_29fad...,Key,NaN,PARK ISLAND・PHASE 5 OCEANCREST・TOWER 29,4 Rooms・(3 Suites),Ma Wan,NaN,"1,464 ft²","1,464ft²",...,/ft²,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://hk.centanet.com/findproperty/en/detail...,https://hkvrdata.centanet.com/CNHK-45954_60cd1...,Key,NaN,Discovery Park・Phase 2・Block 8,Low Floor・FLAT A・3 Rooms・(1 Suite),Discovery Park,NaN,659 ft²,659ft²,...,/ft²,https://hk.centanet.com/findproperty/_nuxt/82e...,9 mins,9 mins · DISCOVERY PARK SHOPPING CENTRE,NaN,NaN,NaN,NaN,NaN,NaN
3,https://hk.centanet.com/findproperty/en/detail...,https://hkvrdata.centanet.com/CNHK-28464_c8781...,Key,NaN,SERENO VERDE・Phase 4 La Pradera・TOWER 12,2 Rooms,Yuen Long Southeast,NaN,501 ft²,501ft²,...,/ft²,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://hk.centanet.com/findproperty/en/detail...,https://hkvrdata.centanet.com/CNHK-37859_2ea93...,Key,NaN,COASTAL SKYLINE・PHASE 1・BLOCK 1,Low Floor・2 Rooms,Tung Chung Town Centre,NaN,592 ft²,592ft²,...,/ft²,NaN,NaN,NaN,Exclusive,NaN,NaN,NaN,NaN,NaN

In [52]:
len(df)

1704

Extract columns from df; rename columns

In [53]:
extract_df = df[['title-lg',	'title-sm',	'adress',	'adress 2',
                'hidden-xs-only 2', 'area-price', 'box 4', 'area-price 2',
                'price-info', 'installment', 'adress 6', 'facility-tag']]

extract_df.head()

,title-lg,title-sm,adress,adress 2,hidden-xs-only 2,area-price,box 4,area-price 2,price-info,installment,adress 6,facility-tag
0,MAYFAIR BY THE SEA,Low Floor・FLAT B・4 Rooms・(2 Suites),Pak Shek Kok,NaN,"1,217ft²","@ $11,339",NaN,NaN,13.80,"Monthly $46,817・",NaN,NaN
1,PARK ISLAND・PHASE 5 OCEANCREST・TOWER 29,4 Rooms・(3 Suites),Ma Wan,18 years,"1,464ft²","@ $19,125","1,825ft²","@ $15,342",28.00,"Monthly $81,421・",80% Efficiency(%),NaN
2,Discovery Park・Phase 2・Block 8,Low Floor・FLAT A・3 Rooms・(1 Suite),Discovery Park,26 years,659ft²,"@ $11,805",835ft²,"@ $9,317",7.78,"Monthly $26,394・",79% Efficiency(%),9 mins
3,SERENO VERDE・Phase 4 La Pradera・TOWER 12,2 Rooms,Yuen Long Southeast,22 years,501ft²,"@ $7,944",679ft²,"@ $5,861",3.98,"Monthly $13,502・",74% Efficiency(%),NaN
4,COASTAL SKYLINE・PHASE 1・BLOCK 1,Low Floor・2 Rooms,Tung Chung Town Centre,21 years,592ft²,"@ $10,979",775ft²,"@ $8,387",6.50,"Monthly $22,052・",NaN,NaN

In [54]:
extract_df = extract_df.rename(columns={'title-lg': 'address', 'title-sm': 'num_room', 'adress': 'district',
                            'adress 2': 'age', 'hidden-xs-only 2': 'sa',
                            'area-price': 'sap', 'box 4': 'gfa', 'area-price 2': 'gfap',
                            'price-info': 'price', 'installment': 'monthly',
                            'adress 6': 'efficiency', 'facility-tag': 'convenience'
                            })

extract_df.head()

,address,num_room,district,age,sa,sap,gfa,gfap,price,monthly,efficiency,convenience
0,MAYFAIR BY THE SEA,Low Floor・FLAT B・4 Rooms・(2 Suites),Pak Shek Kok,NaN,"1,217ft²","@ $11,339",NaN,NaN,13.80,"Monthly $46,817・",NaN,NaN
1,PARK ISLAND・PHASE 5 OCEANCREST・TOWER 29,4 Rooms・(3 Suites),Ma Wan,18 years,"1,464ft²","@ $19,125","1,825ft²","@ $15,342",28.00,"Monthly $81,421・",80% Efficiency(%),NaN
2,Discovery Park・Phase 2・Block 8,Low Floor・FLAT A・3 Rooms・(1 Suite),Discovery Park,26 years,659ft²,"@ $11,805",835ft²,"@ $9,317",7.78,"Monthly $26,394・",79% Efficiency(%),9 mins
3,SERENO VERDE・Phase 4 La Pradera・TOWER 12,2 Rooms,Yuen Long Southeast,22 years,501ft²,"@ $7,944",679ft²,"@ $5,861",3.98,"Monthly $13,502・",74% Efficiency(%),NaN
4,COASTAL SKYLINE・PHASE 1・BLOCK 1,Low Floor・2 Rooms,Tung Chung Town Centre,21 years,592ft²,"@ $10,979",775ft²,"@ $8,387",6.50,"Monthly $22,052・",NaN,NaN

Regular expressions

In [55]:
# 1. Number of rooms
extract_df['num_room'] = extract_df['num_room'].str.extract(r"(\d+)\s*Rooms?")
extract_df['num_room'] = extract_df['num_room'].astype('Int64') 

extract_df['num_room'][0:5]

0    4
1    4
2    3
3    2
4    2
Name: num_room, dtype: Int64

In [56]:
# 2. Building age
extract_df['age'] = extract_df['age'].str.extract(r"(\d+)\s*years?")
extract_df['age'] = extract_df['age'].astype('Int64') 

extract_df['age'][0:5]

0    <NA>
1      18
2      26
3      22
4      21
Name: age, dtype: Int64

In [57]:
# 3. Saleable Area & Gross area

extract_df['sa'] = extract_df['sa'].str.replace(",","")
extract_df['sa'] = extract_df['sa'].str.extract(r"(\d+)")
extract_df['sa'] = extract_df['sa'].astype('Int64')

extract_df['gfa'] = extract_df['gfa'].str.replace(",","")
extract_df['gfa'] = extract_df['gfa'].str.extract(r"(\d+)")
extract_df['gfa'] = extract_df['gfa'].astype('Int64')

print(f'Saleable Area:\n {extract_df['sa'][0:5]}')
print(f'Gross Area:\n {extract_df['gfa'][0:5]}')

Saleable Area:
 0    1217
1    1464
2     659
3     501
4     592
Name: sa, dtype: Int64
Gross Area:
 0    <NA>
1    1825
2     835
3     679
4     775
Name: gfa, dtype: Int64

In [58]:
# 4. Saleable Area Price & Gross area Price
extract_df['sap'] = extract_df['sap'].str.replace(r"[@$,]", "", regex=True)
extract_df['sap'] = extract_df['sap'].astype('Int64')

extract_df['gfap'] = extract_df['gfap'].str.replace(r"[@$,]", "", regex=True)
extract_df['gfap'] = extract_df['gfap'].astype('Int64')

print(f'Saleable Area Price:\n {extract_df['sap'][0:5]}')
print(f'Gross Area Price:\n {extract_df['gfap'][0:5]}')

Saleable Area Price:
 0    11339
1    19125
2    11805
3     7944
4    10979
Name: sap, dtype: Int64
Gross Area Price:
 0     <NA>
1    15342
2     9317
3     5861
4     8387
Name: gfap, dtype: Int64

In [59]:
# 5. Monthly
extract_df['monthly'] = extract_df['monthly'].str.replace(r"[Monthly$,・]", "", regex=True)
extract_df['monthly'] = extract_df['monthly'].astype('Int64')
extract_df['monthly'][0:5]

0    46817
1    81421
2    26394
3    13502
4    22052
Name: monthly, dtype: Int64

In [60]:
# 6. Efficiency
extract_df['efficiency'] = extract_df['efficiency'].str.extract(r'(\d+)')
extract_df['efficiency'] = extract_df['efficiency'].astype('Int64')

extract_df['efficiency'][20:27]

20    <NA>
21    <NA>
22      80
23    <NA>
24      86
25    <NA>
26    <NA>
Name: efficiency, dtype: Int64

In [61]:
# 7. Convenience
extract_df['convenience'] = extract_df['convenience'].str.extract(r'(\d+)')
extract_df['convenience'] = extract_df['convenience'].astype('Int64')

extract_df['convenience'][0:5]

0    <NA>
1    <NA>
2       9
3    <NA>
4    <NA>
Name: convenience, dtype: Int64

In [62]:
extract_df.head()

,address,num_room,district,age,sa,sap,gfa,gfap,price,monthly,efficiency,convenience
0,MAYFAIR BY THE SEA,4,Pak Shek Kok,<NA>,1217,11339,<NA>,<NA>,13.80,46817,<NA>,<NA>
1,PARK ISLAND・PHASE 5 OCEANCREST・TOWER 29,4,Ma Wan,18,1464,19125,1825,15342,28.00,81421,80,<NA>
2,Discovery Park・Phase 2・Block 8,3,Discovery Park,26,659,11805,835,9317,7.78,26394,79,9
3,SERENO VERDE・Phase 4 La Pradera・TOWER 12,2,Yuen Long Southeast,22,501,7944,679,5861,3.98,13502,74,<NA>
4,COASTAL SKYLINE・PHASE 1・BLOCK 1,2,Tung Chung Town Centre,21,592,10979,775,8387,6.50,22052,<NA>,<NA>

Further cleansing

In [63]:
extract_df = extract_df.drop(['efficiency'], axis=1)

In [64]:
extract_df = extract_df.dropna()
len(extract_df)

721

Create a new column efficiency after dropping null values

In [65]:
extract_df['efficiency'] = (extract_df['sa'] / extract_df['gfa']) * 100
extract_df['efficiency'] = extract_df['efficiency'].astype('Int64')
extract_df['efficiency'][0:5]

2     78
10    73
12    76
13    78
16    74
Name: efficiency, dtype: Int64

Group the districts into regions; create a new column as region

In [66]:
region_dict = {
    'NT East': [
        'City One Shatin', 'Deep Bay', 'Fanling', 'Fo Tan', 
        'Ha Kwai Chung', 'Heng On', 'Ma On Shan', 'Ma Tau Wai', 
        'Po Lam', 'Sai Ying Pun', 'Sha Tin', 'Sheung Shui', 
        'Tiu Keng Leng', 'Tseung Kwan O', 'Yuen Long Station', 
        'Yuen Long Town Centre'
    ],
    'NT West': [
        'Discovery Park', 'Four Little Dragons', 'Laguna', 
        'Lai King', 'Lai Wan', 'Lam Tin', 'Lohas Park', 
        'Luk Yeung', 'Tai Hang', 'Tai Kok Tsui', 
        'Tai Po Town Centre', 'Tai Wai', 'Tai Wo Hau', 
        'Taikoo Shing', 'Tin Shui Wai', 'Tsuen King Circuit', 
        'Tsuen Wan Hoi Bun', 'Tsuen Wan Town Centre', 
        'Tsuen Wan West', 'Tuen Mun North', 'Tuen Mun Town Centre', 
        'Tung Chung Town Centre'
    ],
    'Kowloon': [
        'Cheung Sha Wan', 'Diamond Hill', 'Hung Hom', 
        'Jordan', 'Kowloon Bay', 'Kowloon City', 'Kowloon Station', 
        'Ngau Chi Wan', 'Prince Edward', 'Wong Tai Sin', 
        'Whampoa', 'San Po Kong', 'Yau Ma Tei'
    ],
    'HK Island': [
        'Causeway Bay', 'Chai Wan', 'Kennedy Town', 'North Point', 
        'Sai Wan Ho', 'Sheung Wan', 'Mid-Levels Central', 
        'Mid-Levels West', 'Tin Hau', 'Tsim Sha Tsui', 
        'Wan Chai', 'Quarry Bay', 'Residence Bel-air', 
        'Olympic Station', 'Kornhill', 'Siu Hong', 
        'Siu Lek Yuen', 'Siu Sai Wan', 'South Horizons', 
        'North Point Mid-Levels'
    ]
}

def get_region(district):
    for region, districts in region_dict.items():
        if district in districts:
            return region

extract_df['region'] = extract_df['district'].apply(get_region)

Save the file into a csv format for further analysis

In [67]:
extract_df = extract_df.dropna()
extract_df.to_csv("./cleaned.csv", index=False)

In [68]:
extract_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 667 entries, 2 to 1703
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   address      667 non-null    object
 1   num_room     667 non-null    Int64
 2   district     667 non-null    object
 3   age          667 non-null    Int64
 4   sa           667 non-null    Int64
 5   sap          667 non-null    Int64
 6   gfa          667 non-null    Int64
 7   gfap         667 non-null    Int64
 8   price        667 non-null    float64
 9   monthly      667 non-null    Int64
 10  convenience  667 non-null    Int64
 11  efficiency   667 non-null    Int64
 12  region       667 non-null    object
dtypes: Int64(9), float64(1), object(3)
memory usage: 78.8+ KB